header#header-site {
    display: flex;
    width: 75%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding: 10px;
    color: var(--text);
    margin: 0 auto;
    &>ul {
        display: flex;
        list-style: none;
        &>li {
            margin: 0 5px;
        }
    }

    a {
        color: var(--text);
    }

    ul>li a.router-link-active {
        border-bottom: 1px solid #000;
    }
}